* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#section {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#header,
#descripton,
#addBlog {
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blogContainer {
  border: 1px solid black;

  border-radius: 20px;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;

  align-items: center;
  flex-direction: column;
  background-color: blueviolet;
}

.para {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  background-color: aquamarine;
  width: 100%;
  overflow-x: scroll;
}
.buttonsConatiners {
  display: flex;
  justify-content: center;
}
button {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background: greenyellow;
  color: black;
}
.headers {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  background-color: aquamarine;
  text-align: center;
  width: 100%;
  overflow: hidden;
}
body {
  background-color: brown;
}
